extends layout
block content
  if errors
      each error, i in errors
        script var data = "!{error.msg}"; Materialize.toast(data, 4000)
  br
  br
  div(class="row")
    div( class="col s12 m12")
      div(class='card')
        div( class="card-content")
          span(class='card-title center deep-purple-text') Dodaj Ogłoszenie
          form(method='POST', action="/add")
            #form-group
              label Tytuł:
              input.form-control(name='title', type='text')
            #form-group
              label Opis:
              div(class="input-field")
                textarea.form-control(name='body', type='text', class="materialize-textarea")
            input.btn.btn-primary(type='submit',value='opublikuj')
