extends layout
block content
  br
  br
  div(class="row")
    div( class="col s12 m12")
      div(class='card')
        div( class="card-content")
          span(class='card-title center deep-purple-text') !{article.title}
          a(href="/articles/profile/"+data._id)
            div(class="chip")
              img(src="" + data.profile_pic)
              | !{author}
          span(class="grey-text")  #{moment(article.dates.created).format("YYYY-MM-DD HH:mm")}
          div(class="divider")
          br
          p(class="flow-text") #{article.body}
          -if(String(data._id).valueOf()==String(logged).valueOf())
            br
            div(class="divider")
            br
            a
              button(class="btn")
                i(class="material-icons") edit
            button(class="btn grey")
              i(class="material-icons") delete
  
