// header.pug
header
  title Profile
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js")
  link(rel="stylesheet" href="/ui/dist/css/materialize.css")
  link(href="/css/style.css" rel="stylesheet")
  script(src="/ui/dist/js/materialize.min.js" type="text/javascript")
  link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
