extends layout
block content
  br
  //- div(class="col s12 m6 l4 offset-m3 offset-l4")
  //-   div(class="card-panel")
  //-     div(class="row left-align" id = "chat")
  //-       form(id = "messageForm")
  //-         i(class="material-icons prefix") message
  //-         input(id="message")
  //-         input(type="submit" value="sumbimt")
  //- br
  div(class="col s12 m6 l4 offset-m3 offset-l4")
    div(class="card-panel ")
      div(class="row left-align")
        form(method='POST', action='/search')
          div(class="input-field col s12")
            i(class="material-icons prefix") search
            #form-group
            input(id="search" name="search" type="search" onchange="form.submit()" required)
            label(for="search") Szukaj
  -if(articles)
    each article, i in articles
      div(class="row")
        div(class="col s12")
          div(class="card hoverable")
            div(class="card-content")
              span(class="card-title")
                a(href="/article/"+article._id) #{article.title}
              p !{article.body}
              br
              div(class="divider")
              span(class="grey-text small-text")  #{moment(article.dates.created).format("DD-MM-YYYY HH:mm")}
    
  -if(data)
    each users, i in data
      div(class="row")
        div(class="col s12")
          div(class="card hoverable")
            div(class="card-content")
              span(class="card-title")  
                a(href="/profile/"+users._id) #{users.name}
              p !{users.about}
              
