extends layout
block content
  br
  br
  div(class="row")
    div( class="col s12 m12")
      div(class='card')
        div( class="card-content")
            each conversation in users.conversation
              div(class="row")
                div(class="col s10")
                  span(class="bold") !{conversation.last}
                  br
                  span 
                div(class="col s2")
                  span(class="grey-text lighten-3") huehuehu
