doctype html
html
  include header.pug
  body(style="  display: flex;min-height: 100vh;flex-direction: column;")
    != messages('alert', locals)
    //- NAVIGATION
    include navbar.pug
          //- PARRALAX
    div(class="parallax-container")
      div(class="parallax")
        img(src="images/parallax1.jpg")
    div(class="section white")
      div(class="row container")
        h2(class="header") Get yourself a Double Cheesburger
        p(class="grey-text text-darken-3 lighten-3") 
        | Just a few weeks after DARPA announced a major investment in developing brain-computer interface technology, the US government department has revealed another major project. The Safe Genes program is set to invest US$65 million over four years in seven teams that will investigate ways to make gene editing technologies safer, more targeted and potentially even reversible.
        |"The field of gene editing has been advancing at an astounding pace, opening the door to previously impossible genetic solutions but without much emphasis on how to mitigate potential downsides," says Safe Genes program manager Renee Wegrzyn. "DARPA launched Safe Genes to begin to refine those capabilities by emphasizing safety first for the full range of potential applications, enabling responsible science to proceed by providing tools to | prevent and mitigate misuse."
        | The program has three main technical objectives: to develop processes that allow greater control of genome editing in living systems, to develop countermeasures that protect genome integrity in populations, and to investigate a way to remove engineered genes from living systems.
    div(class="parallax-container")
      div(class="parallax")
        img(src="images/parallax2.jpg")
          //- FOOTER        
  
    footer(class="page-footer")
      div(class="container")
        div(class="row")
          div(class="col l6 s12")
            h5(class="white-text") Serwis dla Głuchych
            p(class="grey-text text-lighten-4") Ten prosty trik sprawi, że odzyskasz słuch w ciągu tygodnia. Sprawdź sam!
      div(class="footer-copyright")
        div(class="container")
          | ©2017 Lubię Placki
          a(class="grey-text text-lighten-4 right" href="http://siekamcebulke.tk/") Siekam Cebulke
block script
  script(src="/js/main.js")
  if user
    //- script(src="/js/socket.js" type="text/javascript")
  
