doctype html
html
  head
    include ./header.pug
  body( style="  display: flex;min-height: 100vh;flex-direction: column;")
    != messages('alert', locals)
    include navbar.pug
    div(class="container" style="flex:1 0 auto;")
      block content
        
  script(src="/js/main.js" type="text/javascript")
  if user
    script(src="/js/socket.js" type="text/javascript")

    
