extends layout
block content
  br
  br
  div(class="row")
    div( class="col s12 m12")
      div(class='card')
        div( class="card-content")
          div(class="message_box")
            each message in msg.messages
              div(class="row")
                div(class="col s10")
                  span(class="bold") !{message.author}
                  br
                  span !{message.message}
                div(class="col s2")
                  span(class="grey-text lighten-3") #{moment(message.date).format("DD-MM-YYYY HH:mm:ss")}
              
          form(method='POST', action="/inbox/send/" + msg.id)
            #form-group
              textarea.form-control(name='content', type='text', placeholder="napisz wiadomośc", class="materialize-textarea")
            Button(class="btn waves-effect waves-light" type='submit' name="action") wyślij
              i(class="material-icons right") send

  
  
