if user
  nav
    div(class="nav-wrapper ")
      a(href="/home" class="brand-logo center")
        //- img(src="images/musify.png" class="responsive-img" style="height:56px")
        i(class="material-icons") music_note
      a(href="#" data-activates="mobile-demo" class="button-collapse")
          i(class="material-icons") menu
      ul(class="right hide-on-med-and-down")
        li
          a(href="/add")
            i(class="material-icons") add
        li
          a(href="/home")
            i(class="material-icons") home
        li 
          a(href="/profile/" + user._id)
            i(class="material-icons") person
        li
          a(href='/users/logout' class="tooltiped" data-position="bottom" data-delay="50" data-tooltip="Wyloguj")
              i(class="material-icons") exit_to_app
      ul(class="side-nav" id="mobile-demo")
        li
          a(href="/home") Ogłoszenia
        li 
          a(href="/profile/" + user._id) Profil
        li
          a(href='/users/logout') Wyloguj
if !user
  nav
    div(class="nav-wrapper ")
      a(href="/" class="brand-logo center")
        i(class="material-icons") music_note
        //- img(src="/images/musify.png" class="responsive-img" style="height:56px")
      a(href="#" data-activates="mobile-demo" class="button-collapse")
          i(class="material-icons") menu
      ul(class="right hide-on-med-and-down")
        li
          a(href="/home") Ogłoszenia
        li
          a(href="/users/register") Zarejestruj
        li
          a(href="/users/login") Zaloguj
      ul(class="side-nav" id="mobile-demo")
        li
          a(href="/home") Ogłoszenia
        li
          a(href="/users/register") Zarejestruj
        li
          a(href="/users/login") Zaloguj
