extends layout
block content
  div(class="row")
    div( class="col s12 m12")
      div(class='card grey lighten-5 z-depth-1')
        div( style='background-image: url(' + photo + ');' class="cover")
        div(class="card-image")
          form(action="/profile/upload/" +data._id ,  method="post", enctype="multipart/form-data")
            input(type="file", style="display:none", onchange="form.submit()", accept="image/*", id="img", name="image")
            label(for="img" class="btn-floating btn-large halfway-fab waves-effect waves-light red")
              i(class="material-icons") camera
        div( class="card-content")
          div(class="row")
            div(class="col s12 m4 center" style="position:relative")
              img(src="" + profile_pic class="responsive-img" style="max-height:300px" )
              form(action="/profile/upload_profile/" +data._id ,  method="post", enctype="multipart/form-data")
                input(type="file", style="display:none", onchange="form.submit()", accept="image/*", id="profile", name="profile")
                label(for="profile" class="btn-floating btn-large halfway-fab waves-effect waves-light red")
                  i(class="material-icons") camera
            div(class="col s12 m8")
              form(method='POST', action="/profile/edit/" +data._id)
                  label Imię i nazwisko:
                  input.form-control(name='name', type='text' value=data.name)
                  label Bio:
                  textarea.form-control(name='about', type='text', class="materialize-textarea") #{data.about}
                  label Wykształcenie:
                  textarea.form-control(name='education', type='text', class="materialize-textarea") #{data.education}
                  input.btn.btn-primary(type='submit',value='Zapisz')
        
