extends layout
block content
  div(class='card grey lighten-5 z-depth-1')
    div( style='background-image: url(' + photo + ');' class="cover")

    div(class="card-image valign-wrapper")
      if user
        if users.id == data._id
          a(class="btn-floating halfway-fab btn-large waves-effect waves-light red" href="/profile/edit/"+data._id)
            i(class="material-icons") edit
      if user
        if users.id != data._id
          a(class="btn-floating halfway-fab btn-large waves-effect waves-light red" href="/inbox/"+users._id)
            i(class="material-icons") message
      if !user
          a(class="btn-floating halfway-fab btn-large waves-effect waves-light red" href="/users/login")
            i(class="material-icons") message
    div(class="card-content")  
      span(class='card-title deep-purple-text') !{users.name} 
      div(class="divider")
      div(class="row")
        div(class="col s12 m4 center")
          br
          img(src="" + profile_pic class="responsive-img materialboxed" data-caption="" + users.name style="display:inline-block")
          br
          div(class="chip") @!{users.username}
        div(class="col s12 m8")
          br
          span(class="bold") Bio:
          p !{users.about}
          br
          span(class="bold") Wykształcenie:
          p !{users.education}
    div(class="divider")
      
