extends layout

block content
  if errors
      each error, i in errors
        script var data = "!{error.msg}"; Materialize.toast(data, 4000)
  if alerts
      script var data = "!{alerts}"; Materialize.toast(data, 4000)
  if alerts1
      script var data = "!{alerts1}"; Materialize.toast(data, 4000)
  br
  br    
  div(class="row")
    div(class="col s12 m8 l6 offset-m2 offset-l3")
      div(class="card-panel ")
        div(class="indigo-text") Zarejestruj
        div(class="divider")
        div(class="row left-align")
          form(method='POST', action='/users/register')
            div(class="input-field col s12")
              i(class="material-icons prefix") account_circle
              #form-group
              input( id='username_in' name='name' type='text')
              label(for="username_in") Imię i Nazwisko:
            div(class="input-field col s12")
              i(class="material-icons prefix"  id="uniq") person
              #form-group
              input( id='username_in1' name='username' type='text')
              label(for="username_in1") nazwa użytkownika:
            div(class="input-field col s12")
              i(class="material-icons prefix" id="uniq_mail") email
              #form-group
              input( id='email' name='email' type='text')
              label(for="email") email
            div(class="input-field col s12")
              i(class="material-icons prefix") lock
              #form-group
              input( id='pass' name='password' type='password')
              label(for="pass") Hasło
            div(class="input-field col s12")
              i(class="material-icons prefix") lock
              #form-group
              input( id='pass1' name='password1' type='password')
              label(for="pass") Powtórz Hasło
              br
              input( class="btn" type='submit' value='Zaloguj')
                //- CAPTCHA
            //- div(class="input-field col s12")
            //-   div(class="row center")
            //-     div(class="col s10 offset-s1 center")
            //-       div(class="g-recaptcha " data-sitekey="6LdLKSsUAAAAAGId7VZTKrX8Wdo40-w8cfzOPmT5")
          
  //- script(src='https://www.google.com/recaptcha/api.js')
