.btn, .btn-flat {
  margin-right:6px;
}
p { white-space: pre-line; }

body {
  background: #fcfcfc;

}

.cover{
height:0px;
width:100%;
padding-top:30%;
background-size:cover;
background-position:center center;
}

.bold{
  font-weight: 800;
}

.message_box{
  width:100%;
  max-height:400px;
  overflow-y:auto;
  overflow-x:hidden;
}
